section {
    background-color: #ececec;
    height: 100%;

    h2 {
        font-size: 36px;
    }
    .search {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
    }

    form {
        padding-left: 100px;
    }

    .table {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: white;
        margin: 30px 100px;
    }

    table {
        tr {
            border: 1px solid lightgray;

            td {
                &:first-child {
                    color: blue;
                    &.approved {
                        color: rgb(11, 138, 0);
                    }
                    &.denied {
                        color: red;
                    }
                }
            }
        } 
        
        th, td {
            padding: 15px;
            text-align: left;
            width: 200px;
        }
        
        th {
            background-color:#00b4c5;
            color: white;
        }
    }

    table, th, td {
        border-collapse: collapse;
    }

    h2 {
        padding: 50px 0 50px 100px;
    }

    input, select {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        outline-style: none;
    }
    
    button {
        background-image: linear-gradient(45deg,#00b4c5,#145377);
        color: white;
        border-radius: 4px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        cursor: pointer;
        padding: 10px 15px;
        margin-bottom: 30px;
        outline-style: none;
    }

    img {
        height: 20px;
    }
}

@media only screen 
    and (min-width: 320px) 
    and (max-width: 568px) {
        section {
            & h2 {
                padding-left: 50px;
            }
            & .search {
                margin-left: 50px;
                margin-right: 50px;
            }
            & div {
                margin-left: 0;
                display: flex;
                flex-direction: column-reverse;
            }
            form {
                padding-left: 0px;
                padding-bottom: 30px;
                display: flex;
                & > button {
                    margin: 0;
                }
                & > input {
                    width: 100%;
                    display: flex;
                }
                &.formAdd {
                    flex-direction: column;
                    padding: 0 50px 30px 50px;
                    & > input {
                        width: 92%;
                    }
                }
            }
            .table {
                overflow: scroll;
                width: 74%;
                margin: 0 48px;
            }
            
        }
    }