<section>
    <h2>Clients</h2>
    <div class="search">
        <button (click)="getForm(); showForm=true">Add New</button>
        <form [formGroup]="formSearch" (ngSubmit)="changeValue(formSearch.value)">
            <input type="text" placeholder="Name" formControlName="search">
            <button type="submit">Search</button>
        </form>
    </div>

    <form class="formAdd" [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="showForm">
        <input type="text" placeholder="Name" formControlName="name" [readonly]="isEdit">
        <input type="email" placeholder="E-mail" formControlName="email" [readonly]="isEdit">
        <input type="text" placeholder="Phone" formControlName="phone" [readonly]="isEdit">
        <input type="text" placeholder="Proposal Value" formControlName="proposalValue" [readonly]="isEdit">

        <select formControlName="proposalStatus" *ngIf="isEdit">
            <option value="approved">Approved</option>
            <option value="denied">Denied</option>
            <option value="pending">Pending</option>
        </select>
        <button type="submit">Save</button>
    </form>

    <div class="table">
        <table>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Proposal</th>
                <th *ngIf="userId === '2'">Action</th>
            </tr>
            <tr *ngFor="let item of clients">
                <td 
                    [ngClass]="(item.proposalStatus ==='approved') ? 'approved': (item.proposalStatus ==='denied') ? 'denied': ''"
                >
                    {{item.proposalStatus}}
                </td>
                <td>{{item.name}}</td>
                <td>{{getPhoneMask(item.phone)}}</td>
                <td>{{item.email}}</td>
                <td>{{getCurrencyMask(item.proposalValue)}}</td>
                <td *ngIf="userId === '2'"><img [src]="'assets/images/pencil.svg'" (click)="getForm(item); showForm=true"/></td>
            </tr>
        </table>
    </div>
</section>
