.layout {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(243, 243, 243);
}

.layout > mat-drawer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout > mat-drawer-content {
  margin-left: 300px;
}

p {
  margin-top: 40px;
  font-style: italic;
}

img {
  height: 80px;
  margin: 0 20px 20px 20px;
}

button {
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  color: #019CB3;
  &.active {
    background-color: #019CB3;
    color: white;
  }
}


