<section><img [src]="'assets/images/logo.png'" />
    <h1>Seja bem-vindo(a)!</h1>
    <h3>Escolha o seu perfil</h3>
    <div>
        <button *ngFor="let item of profile" (click)="getUrl(item.id)">Usuário 
            <span *ngIf="item.id === 1">de</span> {{item.name}}
        </button>
    </div>
</section>