section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    & img {
        padding-bottom: 50px;
    }
    & h1 {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    & h3 {
        margin-bottom: 50px;
    }
    & div {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    & button {
        background-image: linear-gradient(45deg,#00b4c5,#145377);
        color: white;
        height: 100px;
        width: 200px;
        font-weight: 700;
        border-radius: 4px;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        cursor: pointer;
        &:first-child {
            margin-right: 30px;
        }
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }
}

@media only screen 
    and (min-width: 320px) 
    and (max-width: 568px) {
        section {
            & div {
                flex-direction: column;
                & button {
                    &:first-child {
                        margin-right: 0px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }




