/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    color: #6d6e71;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
